@use "src/assets/scss/utilities/functions" as *;
@use "src/assets/scss/utilities/mixins" as *;
@use "src/assets/scss/utilities/variables" as vars;

@mixin header-awake {
  filter: none;
  backdrop-filter: blur(30px);
}

.header {
  position: fixed;
  width: calc(100% - vars.$sidebar-space + 12px);
  height: 74px;
  padding: 0 28px;
  z-index: 999;
  margin-left: -30px;
  top: 0;
  background-color: white;
  border-bottom: 1px solid pick-color(slate, 200);
  @include spe-breakpoint("lt-lg") {
    width: calc(100% + 20px);
    @include header-awake;
  }
  &.awake {
    @include header-awake;
  }
  .hamburger {
    @include spe-breakpoint("gt-md") {
      display: none;
    }
  }
  .search-bar {
    .search {
      width: 320px;
      @include spe-breakpoint("lt-md") {
        width: 280px;
      }
      @include spe-breakpoint("xs") {
        width: 180px;
      }
    }
  }
  .breadcrumb-wrapper {
    @include spe-breakpoint("lt-lg") {
      display: none;
    }
  }
  .right {
    .icon-box {
      position: relative;
      @include circles(36px);
      &:hover {
        background-color: rgba(pick-color(slate, 200), 0.5);
      }
      &.notify {
        .icon {
          @extend .text-normal;
        }
        .dot {
          top: 5px;
        }
        .dropdown-menu {
          min-width: 300px;
          padding: 0;
          @include spe-breakpoint("gt-md") {
            //transform: translate(calc(50% - 45px), 27px) !important;
            //margin: 12px 0 0 0 !important;
          }
          @include spe-breakpoint("xs") {
            min-width: 270px;
          }
          .box {
            display: block;
            padding: 16px 20px;
            border-color: pick-color(slate, 200);
          }
          .list {
            max-height: 260px;
            overflow: auto;
            li {
              padding: 10px 20px;
              @extend .text-sm;
              &:not(:last-child) {
                border-bottom: 1px solid pick-color(slate, 200);
              }
            }
          }
        }
      }
    }
  }
}
