@use "src/assets/scss/utilities/functions" as *;
@use "src/assets/scss/utilities/mixins" as *;

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  .item {
    color: pick-color(slate, 500);
    &:not(:last-child) {
      margin: 0 10px 0 0;
      &:after {
        content: "/";
        margin: 0 0 0 10px;
        font-size: 16px;
        position: relative;
        top: 1px;
      }
    }
    &:hover,
    &.active {
      color: pick-color(slate, 700);
    }
  }
}

.table-search-bar {
  width: 280px;
  margin: 0 0 20px 0;
  &.md {
    width: 100%;
    @include spe-breakpoint("sm") {
      width: 60%;
    }
    @include spe-breakpoint("gt-sm") {
      width: 50%;
    }
  }
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  margin: 56px 0 20px 0;
  @include spe-breakpoint("lt-md") {
    display: block;
    text-align: center;
    .pagination-box {
      display: inline-flex !important;
    }
    .text-box {
      margin: 20px 0 0 0;
    }
  }
  .pagination-box {
    border: 1px solid pick-color(slate, 200);
    @include border-radius(4px);
    overflow: hidden;
    .nav {
      cursor: pointer;
      @extend .text-sm;
      @extend .fw-medium;
      color: pick-color(slate, 700);
      padding: 8px 12px;
      background-color: white;
      transition: background-color 0.2s;
      &:hover {
        background-color: pick-color(primary, 200);
        transition: background-color 0.2s;
      }
      &.prev,
      &.page-item {
        border-right: 1px solid pick-color(slate, 200);
      }
      &.page-item {
        &.active {
          background-color: pick-color(primary, 400);
          color: white;
        }
      }
      &.disabled {
        pointer-events: none;
        color: pick-color(slate, 300);
      }
    }
  }
}

.profile-menu-wrapper {
  margin: 0 0 0 10px;
  .profile-menu {
    @include circles(38px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid pick-color(primary, 300);
  border-right-color: pick-color(primary, 600);
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: calc(50% - 30px);
  top: 50%;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  #innerBox span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: pick-color(primary, 300);
    margin: 0 5px;
    opacity: 0;
  }

  #innerBox span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
  }

  #innerBox span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
  }

  #innerBoxspan:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
  }
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.custom-datepicker-container {
  .input-group {
    flex-wrap: nowrap;
    .icon-box {
      padding-left: 12px !important;
      &.close-box {
        border-left: 1px solid pick-color(slate, 200) !important;
        &.disabled {
          pointer-events: none;
          color: pick-color(slate, 300);
        }
      }
    }
    .date-area {
      &.simple {
        flex-grow: 1;
        input {
          width: 100%;
        }
      }
    }
  }
  .react-datepicker-wrapper {
    display: block;
    width: 100%;
    .input {
      width: 180px;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border: 1px solid pick-color(slate, 200);
      @include controls();
      height: 44px;
      padding: 0 16px;
      @include spe-breakpoint("lg") {
        width: 130px;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
  .react-datepicker__time-container {
    width: 200px;
    .react-datepicker__time-box {
      width: 100%;
      .react-datepicker__time-list {
        text-align: left;
        .react-datepicker__time-list-item {
          height: 38px !important;
          padding: 9px 10px !important;
          color: pick-color(slate, 700);
          @extend .text-sm;
          &:hover {
            background-color: pick-color(primary, 300) !important;
            color: white !important;
          }
        }
      }
    }
  }

  .react-datepicker__tab-loop {
    .react-datepicker {
      border: 1px solid pick-color(slate, 200);
      @extend .ft-default;
      .react-datepicker__header {
        background-color: pick-color(secondary, 100);
        padding: 14px 0;
        border-bottom: 0;
        color: pick-color(slate, 900);
        .react-datepicker__current-month {
          font-size: 16px !important;
        }
      }
      .react-datepicker__month {
        .react-datepicker__week {
          .react-datepicker__day {
            @extend .text-sm;
            color: pick-color(slate, 700);
            &.react-datepicker__day--keyboard-selected,
            &.react-datepicker__day--today {
              color: pick-color(slate, 900);
              background-color: transparent;
            }
            &.react-datepicker__day--disabled {
              pointer-events: none;
              color: pick-color(slate, 200);
              &:hover {
                background-color: transparent;
              }
            }
            &:hover,
            &.react-datepicker__day--selected {
              background-color: pick-color(primary, 300);
              color: white;
              @include border-radius(4px);
            }
          }
        }
      }
    }
    .react-datepicker__triangle {
      fill: pick-color(secondary, 100);
      stroke: pick-color(slate, 200);
    }
  }
}

.tabs {
  .tab-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid pick-color(slate, 200);
    .tab {
      cursor: pointer;
      padding: 18px 24px;
      @extend .h6;
      color: pick-color(slate, 700);
      border-bottom: 1px solid transparent;
      &.active {
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }
  .tab-content {
    padding: 12px 24px;
  }
}

.custom-filter-container {
  .filtered {
    border-color: pick-color(danger, 500);
    background-color: pick-color(danger, 100);
    color: pick-color(danger, 700);
  }
  .custom-filter-area {
    .overlay {
      position: fixed;
      background-color: rgba(pick-color(slate, 900), 0.7);
      top: 0;
      left: 0;
      width: 0;
      z-index: 1000;
      height: 100vh;
      opacity: 0;
      transition: opacity 0.2s;
    }
    .custom-filter-box {
      position: fixed;
      background-color: white;
      width: 440px;
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 1001;
      transform: translateX(500px);
      transition: transform 0.3s;

      .custom-filter-content {
        padding: 16px 24px 24px 24px;
      }
    }
    &.show {
      .overlay {
        width: 100vw;
        opacity: 1;
        transition: opacity 0.2s;
      }
      .custom-filter-box {
        transform: translateX(0);
        transition: transform 0.3s;
        @include spe-breakpoint("xs") {
          width: calc(100vw - 15px);
          transform: translateX(0);
          left: 0;
          right: auto;
        }
      }
    }
  }
}

.orders-container {
  .tab-content {
    margin: 30px 0 0 0;
  }
}

.dropdown {
  .show + .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }
  .dropdown-menu {
    min-width: 240px;
    box-shadow: 0px 12px 16px -4px var(--tw-shadow-color, rgba(16, 24, 40, 0.08)),
      0px 4px 6px -2px var(--tw-shadow-color, rgba(16, 24, 40, 0.03));
    border: 1px solid pick-color(slate, 200);
    margin: 0 !important;
    padding: 0 !important;
    top: 6px !important;
    overflow: hidden;
    .dropdown-item {
      padding: 10px 20px;
      .icon {
        width: 20px;
        height: 20px;
        margin: -4px 10px 0 0;
        padding: 0;
      }
      .icon,
      .label {
        @extend .fw-semibold;
        @extend .text-slate-700;
      }
      .label {
        @extend .ft-default;
      }
      &:hover,
      &:active {
        background-color: pick-color(smoke, 200);
      }

      &.name-box {
        padding: 12px 20px 16px 20px;
        border-bottom: 1px solid pick-color(slate, 200);
        pointer-events: none;
        .name {
          height: 21px;
          width: 170px;
          padding: 0;
          overflow: hidden;
          @extend .text-sm;
          position: relative;
          display: inline-block;
          text-align: left;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  &.simple {
    .dropdown-menu {
      margin: -2px 0 0 0 !important;
      .dropdown-item {
        padding: 6px 16px;
        &:hover,
        &:active {
          background-color: transparent;
          color: inherit;
        }
      }
    }
  }
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tracking-box {
    padding: 32px 16px 20px 16px;
    .tracking-item {
      .left {
        .box {
          width: 8px;
          height: 8px;
          background-color: pick-color(secondary, 400);
        }
        .line {
          width: 1px;
          background-color: pick-color(secondary, 400);
          margin-left: 3px;
          height: 100%;
          &.last {
            height: calc(100% - 8px);
          }
        }
      }
      .right {
        margin: -10px 0 0 0;
        &:not(.last) {
          padding-bottom: 28px;
        }
      }
    }
  }