@use "../utilities/variables" as *;
@use "../utilities/functions" as *;

//bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/utilities";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
  "slate": $slate,
  "smoke": $smoke,
);

$theme-colors: map-merge($custom-colors, $theme-colors);

$utility-colors: map-merge-multiple(
  update-map-key(map-get($spe-colors, primary), primary),
  update-map-key(map-get($spe-colors, secondary), secondary),
  update-map-key(map-get($spe-colors, success), success),
  update-map-key(map-get($spe-colors, warning), warning),
  update-map-key(map-get($spe-colors, danger), danger),
  update-map-key(map-get($spe-colors, slate), slate),
  update-map-key(map-get($spe-colors, smoke), smoke)
);

//other color maps
$theme-colors: map-merge($theme-colors, $utility-colors);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($theme-colors)
            ),
        )
      ),
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              ($theme-colors)
            ),
        )
      ),
    "border-color":
      map-merge(
        map-get($utilities, "border-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "border-color"), "values"),
              ($theme-colors)
            ),
        )
      ),
  )
);

@import "node_modules/bootstrap/scss/utilities/api";
