@use "src/assets/scss/utilities/functions" as *;
@use "src/assets/scss/utilities/mixins" as *;

.add-service-provider-container,
.add-common-services-container {
  .preview-file-img {
    width: 140px;
    height: 48px;
    border: 1px solid pick-color(slate, 200);
    @include border-radius(4px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.lg {
      padding: 12px 0;
      width: 140px;
      height: 78px;
    }
  }
}

.semi-page-container {
  .form-area {
    margin: 40px 0 0 0;
  }
}

.settings-preferrences-container {
  .preference-box {
    border: 1px solid pick-color(slate, 200);
    @include border-radius(6px);
    .liner-item {
      padding: 16px 20px;
      @include spe-breakpoint("lt-md") {
        .slider-column {
          margin: 0 0 20px 0;
        }
      }
    }
    .bottom {
      padding: 24px 20px;
      border: 1px solid pick-color(slate, 200);
      border-left: none;
      border-right: none;
      .input-box {
        display: flex;
        align-items: center;
      }
    }
  }
}

.dashboard-container {
  .tab-content {
    margin: 36px 0 0 0;
  }
}

.notifications-container {
  .notifications-area {
    .notifications-list {
      &:not(:last-child) {
        margin: 0 0 36px 0;
      }
    }
  }
}

.notification-card {
  &:not(:last-child) {
    margin: 0 0 14px 0;
  }
  .card-body {
    padding: 26px;
  }
  &.un-read {
    border: 1px solid pick-color(secondary, 500) !important;
    background-color: pick-color(smoke, 100);
  }
  &.simple {
    border-radius: 0;
    border: none !important;
    margin: 0 !important;
    &:not(:last-child) {
      border-bottom: 1px solid pick-color(slate, 200) !important;
    }
    background-color: white;
    .card-body {
      padding: 16px 30px;
    }
  }
}
