@use "./variables" as *;
@use "./functions" as *;

@mixin circles($r, $bg: null, $tc: null) {
  width: $r;
  height: $r;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  color: $tc;
  @include border-radius($r);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($rules) {
  -webkit-transform: $rules !important;
  -moz-transform: $rules !important;
  transform: $rules !important;
}

@mixin transition($rules...) {
  -webkit-transition: $rules;
  -moz-transition: $rules;
  transition: $rules;
}

@mixin spe-breakpoint($breakpoint) {
  $mediaQuery: map-get($spe-breakpoints, $breakpoint);

  @if ($mediaQuery !=null) {
    @media #{$mediaQuery} {
      @content;
    }
  } @else {
    @media #{$breakpoint} {
      @content;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin controls-lg() {
  height: 54px;
  line-height: 54px;
  @include border-radius(6px);
}

@mixin controls() {
  height: 46px;
  line-height: 46px;
  @include border-radius(6px);
}


